<div class="page-layout simple fullwidth">
    <!-- HEADER -->
    <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
        <h2>Sensores Creados</h2>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">
        <div class="content-card">
            <mat-table
                class="products-table"
                #table
                [dataSource]="dataSource"
                matSort
                fusePerfectScrollbar
            >
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        ID
                    </mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{ product.id }}</p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Nombre
                    </mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{ product.name }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="protocol">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Protocolo
                    </mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{ product.protocol }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="magnitude">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Magnitud
                    </mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{ product.magnitude }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="unitMeasure">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Unidad de medida
                    </mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{ product.unitMeasure }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Estado
                    </mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{ product.status }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="dateLastData">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Ult. Fecha Recolección
                    </mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">
                            {{  formatDateFromNow(product.dateLastData) }} 
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="options">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Opciones
                    </mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <div fxFlex="row" fxLayoutAlign="center center">
                            <button
                                mat-icon-button
                                (click)="showModalMap(product)"
                                aria-label="Toggle star"
                            >
                                <mat-icon>map</mat-icon>
                            </button>
                            <button
                                mat-icon-button
                                (click)="showModalGraphData(product)"
                                aria-label="Toggle star"
                            >
                                <mat-icon>assessment</mat-icon>
                            </button>
                        </div>
                    </mat-cell>
                </ng-container>

                <!-- <ng-container matColumnDef="star" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                      <mat-icon>more_vert</mat-icon>
                    </td>
                  </ng-container> -->

                <mat-header-row
                    *matHeaderRowDef="displayedColumns; sticky: true"
                ></mat-header-row>

                <mat-row
                    *matRowDef="let product; columns: displayedColumns"
                    class="product"
                    matRipple
                >
                </mat-row>
            </mat-table>
        </div>
    </div>
    <!-- / CONTENT -->
</div>
