<div class="page-layout simple fullwidth">

    <!-- HEADER -->
    <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
        <h2>Tipos de Sensor</h2>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">
        <div class="content-card">

            <mat-table class="products-table" #table [dataSource]="dataSource" matSort fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.id}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.name}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="magnitude">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Magnitud</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.magnitude}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="unitMeasure">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Unidad de medida</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.unitMeasure}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Image Column -->
                <ng-container matColumnDef="icon">
                    <mat-header-cell *matHeaderCellDef>ICONO</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <img class="product-image" [src]="urlIcon(product.id)"
                            style="max-width: 64px; max-height: 64px;" />
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let product; columns: displayedColumns;" class="product" matRipple>
                </mat-row>

            </mat-table>



        </div>


    </div>
    <!-- / CONTENT -->

</div>