<div class="page-layout simple fullwidth">
    <!-- HEADER -->
    <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
        <h2>Sensores</h2>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">
        <div
            class="mb-24"
            fxLayout="column"
            fxLayoutAlign="start"
            fxLayout.gt-md="row"
        >
            <!-- REACTIVE FORM EXAMPLE -->

            <form
                class="mat-card mat-elevation-z4 p-24 mr-24"
                fxLayout="column"
                fxLayoutAlign="start"
                fxFlex="1 0 auto"
                name="form"
                [formGroup]="form"
                (ngSubmit)="onSubmit()"
            >
                <div class="h2 mb-24">Crear Sensor</div>

                <div
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxFlex="1 0 auto"
                >
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Protocolo Comunicación</mat-label>
                        <mat-select formControlName="protocol" required>
                            <mat-option [value]="'MQTT'"> MQTT </mat-option>
                            <mat-option [value]="'HTTP'"> HTTP </mat-option>
                        </mat-select>
                        <mat-icon matSuffix class="secondary-text">
                            outlined_flag
                        </mat-icon>
                        <mat-error>Protocolo es requerido!</mat-error>
                    </mat-form-field>
                </div>

                <div
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxFlex="1 0 auto"
                    *ngIf="form.controls.protocol.value == 'MQTT'"
                >
                    <mat-form-field
                        appearance="outline"
                        fxFlex="50"
                        class="pr-4"
                    >
                        <mat-label>Usuario conexión mqtt</mat-label>
                        <input matInput formControlName="user" required />
                        <mat-icon matSuffix class="secondary-text">
                            account_circle
                        </mat-icon>
                        <mat-error
                            >¡Si el protocolo es MQTT, debe ingresar el usuario
                            para su conexión!</mat-error
                        >
                    </mat-form-field>

                    <mat-form-field
                        appearance="outline"
                        fxFlex="50"
                        class="pl-4"
                    >
                        <mat-label>Contraseña</mat-label>
                        <input matInput formControlName="password" required />
                        <mat-icon matSuffix class="secondary-text">
                            account_circle
                        </mat-icon>
                        <mat-error
                            >¡Si el protocolo es MQTT, debe ingresar la
                            contraseña para su conexión!</mat-error
                        >
                    </mat-form-field>
                </div>

                <div
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxFlex="1 0 auto"
                >
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Tipo Sensor</mat-label>
                        <mat-select
                            #singleSelect
                            formControlName="type"
                            required
                        >
                            <mat-option>
                                <ngx-mat-select-search
                                    [formControl]="typeFilterCtrl"
                                    placeholderLabel="Ingresa el nombre del tipo de sensor..."
                                    noEntriesFoundLabel="'No se encontraron resultados para tu búsqueda.'"
                                >
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option
                                *ngFor="let type of filteredTypeSensor | async"
                                [value]="type.id"
                            >
                                {{ type.name }} - {{ type.magnitude }}
                            </mat-option>
                        </mat-select>
                        <mat-icon matSuffix class="secondary-text">
                            outlined_flag
                        </mat-icon>
                        <mat-error>Tipo de sensor es requerido!</mat-error>
                    </mat-form-field>
                </div>

                <div
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxFlex="1 0 auto"
                >
                    <mat-form-field
                        appearance="outline"
                        fxFlex="100"
                        class="pr-4"
                    >
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="name" required />
                        <mat-icon matSuffix class="secondary-text"
                            >account_circle</mat-icon
                        >
                        <mat-error>Nombre es requerido!</mat-error>
                    </mat-form-field>
                </div>

                <div
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxFlex="1 0 auto"
                    style="margin-bottom: 5px; padding-bottom: 21.5px"
                >
                    <mat-slide-toggle
                        [(ngModel)]="checkLimits"
                        formControlName="isLimitsActivate"
                    >
                        Habilitar topes para notificación
                    </mat-slide-toggle>
                </div>

                <div
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxFlex="1 0 auto"
                    *ngIf="checkLimits"
                >
                    <mat-form-field
                        appearance="outline"
                        fxFlex="50"
                        class="pr-4"
                    >
                        <mat-label>Valor mínimo</mat-label>
                        <input matInput formControlName="minLimit" required />
                        <mat-icon matSuffix class="secondary-text">
                            account_circle
                        </mat-icon>
                        <mat-error>El valor mínimo es requerido!</mat-error>
                    </mat-form-field>

                    <mat-form-field
                        appearance="outline"
                        fxFlex="50"
                        class="pl-4"
                    >
                        <mat-label>Valor máximo</mat-label>
                        <input matInput formControlName="maxLimit" required />
                        <mat-icon matSuffix class="secondary-text">
                            account_circle
                        </mat-icon>
                        <mat-error>El valor máximo es requerido</mat-error>
                    </mat-form-field>
                </div>

                <div
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxFlex="1 0 auto"
                >
                    <mat-form-field
                        appearance="outline"
                        fxFlex="50"
                        class="pr-4"
                    >
                        <mat-label>Latitud</mat-label>
                        <input matInput formControlName="latitude" required />
                        <mat-icon matSuffix class="secondary-text">
                            account_circle
                        </mat-icon>
                        <mat-error>Latitud es requerida!</mat-error>
                    </mat-form-field>

                    <mat-form-field
                        appearance="outline"
                        fxFlex="50"
                        class="pl-4"
                    >
                        <mat-label>Longitud</mat-label>
                        <input matInput formControlName="longitude" required />
                        <mat-icon matSuffix class="secondary-text">
                            account_circle
                        </mat-icon>
                        <mat-error>Longitud es requerida</mat-error>
                    </mat-form-field>
                </div>

                <div
                    #div
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxFlex="1 0 auto"
                    style="margin-bottom: 4px; padding-bottom: 21.5px"
                >
                    <div
                        #map
                        style="
                            height: 600px;
                            width: 100%;
                            margin-left: 0px;
                            padding-left: 0px;
                        "
                        leaflet
                        leafletDraw
                        [leafletOptions]="options"
                        [leafletDrawOptions]="drawOptions"
                        (leafletDrawCreated)="zonaCreada($event)"
                        (leafletMapReady)="onMapReady($event)"
                    ></div>
                </div>

                <div fxLayout="row" fxLayoutAlign="center center">
                    <button
                        mat-raised-button
                        type="button"
                        color="warn"
                        style="margin-right: 30px"
                        (click)="clean()"
                    >
                        Limpiar
                    </button>

                    <button mat-raised-button type="submit" color="accent">
                        Crear
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- / CONTENT -->
</div>
